.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 500px;
    max-width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 18px;

    display: block;
    margin-left: auto;
    margin-right: auto

  }

  .logoutButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .logoutButton:hover{
    background-color:  #000654;
    opacity: 0.7;
  }

