.login,
.register{
  --color-primary: #0157ae;
  --color-primary-dark: #000654;
  --color-primary-secondary: #d42729;
  --color-primary-error: #cc3333;
  --color-primary-success: #4bb544;
  --border-radius: 4px;

 
  font-size: 18px;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}


.login,
.register,
.home__text{
  width: 100%;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
  
}


.login,
.register,
.form__input,
.form__button,
.home__text
{
  font: 500 1rem 'Libre Franklin', sans-serif;
  
}


.form > *:first-child,
.home__text
{
  margin-top: 0;
}

.form > *:last-child,
.home__text
{
  margin-top: 0;
}

.form__title,
.home__text{
  margin-bottom: 2rem;
  text-align: center;
}

.form__message,
.home__text{
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success{
  color: var(--color-primary-success);
}

.form__message--error{
  color: var(--color-primary-error);
}

.form__input-group{
  margin-bottom: 1rem;
}

.form__input{
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus{
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error{
  color: var(--color-primary-error);
  border-color: var(--color-primary-error);
}

.form__input-error-message{
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-primary-error);
}

.form__button,
.home__text{
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem 2rem;
  font-size: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover,
.home__text:hover{
  background: var(--color-primary-dark);
}

.form__button:active{
  transform: scale(0.98);
}

.form__text,
.home__text{
  text-align: center;
}

.form__link
{
  color: var(--color-primary-secondary);
  text-decoration: none;
  cursor: pointer;
}

.home_text_link{
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover,
.home_text_link:hover{
  text-decoration: underline;
}



.nav{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  position: absolute;
  top: 0%;
  width: 100%;
  margin: 0px;
}

.navlink,
.site_title{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site_title{
  font-size: 2rem;
}

.nav li.active{
  background-color: #555;
}

.nav li:hover{
  background-color: #777;
}

.home-page{
  margin: 50px;
}

.welcome{
  font-size: 50px;
  padding: 10px;
}

.text{
  font-size: 20px;
  padding: 10px;
}

.header-text{
  font-size: 30px;
  padding: 10px;
}

.header-text-important{
  font-size: 30px;
  padding: 10px;
  color: #d42729;
}


.billInfo,
.search{

    display: flex;

    flex-direction: column;

    margin: 100px auto;
    width: 90%;

    border-radius: 20px;
    padding: 20px;
}

.billInfo:hover{
    background-color: #0157ae;
}

.billTitle{
    font-size: 20px;
    font-weight: bold;
}

.billDate,
.billAction{
    font-size: 18px;
}

.bill-title{
    color: #0157ae;
    text-align: center;
}

.search::placeholder{
    text-align: center;
}

.image{
  width: 200px;
  height: 100%;
  float: left;
  border-radius: 10px;
  border: 3px solid white;
  margin-right: 20px;
}


.memberInfo{
  align-content: center;
  align-items: center;

}


.info{
  display: flex;
  min-height: 100vh;

  flex-direction: column;
  
  margin: 100px;
  width: 75%;


}

.name{
  font-size: 30px;
  padding: 5px;

  
}

.state,
.party,
.district{
  font-size: 22px;

}

.members{
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
 
}

.members:hover{
  background-color: #0157ae;
}

.title{
  color: #0157ae;
  text-align: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 500px;
  max-width: 500px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: grey;
  font-size: 18px;

  display: block;
  margin-left: auto;
  margin-right: auto

}

.logoutButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.logoutButton:hover{
  background-color:  #000654;
  opacity: 0.7;
}

