.login,
.register{
  --color-primary: #0157ae;
  --color-primary-dark: #000654;
  --color-primary-secondary: #d42729;
  --color-primary-error: #cc3333;
  --color-primary-success: #4bb544;
  --border-radius: 4px;

 
  font-size: 18px;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}


.login,
.register,
.home__text{
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
}


.login,
.register,
.form__input,
.form__button,
.home__text
{
  font: 500 1rem 'Libre Franklin', sans-serif;
  
}


.form > *:first-child,
.home__text
{
  margin-top: 0;
}

.form > *:last-child,
.home__text
{
  margin-top: 0;
}

.form__title,
.home__text{
  margin-bottom: 2rem;
  text-align: center;
}

.form__message,
.home__text{
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success{
  color: var(--color-primary-success);
}

.form__message--error{
  color: var(--color-primary-error);
}

.form__input-group{
  margin-bottom: 1rem;
}

.form__input{
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus{
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error{
  color: var(--color-primary-error);
  border-color: var(--color-primary-error);
}

.form__input-error-message{
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-primary-error);
}

.form__button,
.home__text{
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem 2rem;
  font-size: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover,
.home__text:hover{
  background: var(--color-primary-dark);
}

.form__button:active{
  transform: scale(0.98);
}

.form__text,
.home__text{
  text-align: center;
}

.form__link
{
  color: var(--color-primary-secondary);
  text-decoration: none;
  cursor: pointer;
}

.home_text_link{
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover,
.home_text_link:hover{
  text-decoration: underline;
}